*{
    margin:0;
    padding:0;
}
body{
    background-color: rgba(245, 245, 245, 0.822);
}
.customer{
  height: 100%;
   margin: auto;
   margin-top: 4vh;
   padding: 15px 15px;
}
.invalid-feedback {
    color: red;
}
.valid-feedback {
    color: green;
}
.username{
    display: grid;
    grid-template-columns: repeat(3,2fr);
}
.housenumber{
    display: grid;
    grid-template-columns: repeat(3,2fr);
}
.city{
    display: grid;
    grid-template-columns: repeat(3,2fr);
}
hr {
    width: 37vw;
    font-size: 50px;
    margin-left: 1vw;
    color: black;
    margin-top: 2vh;
}
.form-control{
  
    width: 21vw;
    margin-top: 3vh;
}
.form-controlnodes{
    margin-left: 0.5vw;
    width: 42vw;
    margin-top: 3vh;
}
.payment{
    border-top: 2px solid black;
    border-bottom: none;
    border-left: none;
    border-right: none;
    width: 37vw;
     margin-left: 2vw;
     margin-top: 2vh;
     background-color:rgba(245, 245, 245, 0.822);
}
.table-container {
    margin-top: 30px;
    border-radius: 50px; 
}
table {
    border-collapse: collapse;
    width: 100%;
  
    border: 2px solid rgb(176, 173, 173);
   
}

th, td {
    padding: 8px;
    text-align: left;
}

td {
    border-top: 1px solid  rgb(176, 173, 173); 
    border-bottom: 1px solid  rgb(176, 173, 173); 
}
.btn{
    padding: 0.5vw 17vw;
    margin-left: 1vw;
    background-color: #EDB932;
    border-radius: none;
    border: 1px solid #EDB932 ;
    cursor: pointer;
}
.btn:hover{
    background-color: #EDB932;
    color: white;
    cursor: pointer;
}
.popup{
    width: 400px;
    background-color: white;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    text-align: center;
    padding: 0 30px 30px;
    color: black;
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
    z-index: 1000; 

    
}
.popup.open-popup {
    visibility: visible;
    top: 80%;
    transform: translate(-50%, -50%) scale(1);
}
.popup img{
    width: 100px;
    margin-top: -50px;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}
.popup h2{
    font-size: 38px;
    font-weight: 500;
    margin: 30px 0 10px;
}
.popup button{
    width: 100%;
    margin-top: 50px;
    padding: 10px 0;
    background-color: #EDB932;
    color: black;
    border: none;
    font-size: 18px;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

