
#carouselExampleSlidesOnly .carousel-caption p,
#carouselExampleSlidesOnly .carousel-caption h5{
  color: #9a7005;
  font-size: larger;
  position: relative;
  right: 300px;
  filter: brightness(250%);
  text-shadow: 2px -2px  black;
}
* {
  margin: 0;
  padding: 0;
}
.category-container{
  display: grid;
  grid-template-columns: repeat(2,90px);
}

.body1 {
  background-color: rgba(245, 245, 245, 0.822);
  align-items: center;
  justify-content: center;
  height: 100vh;
}

/* nav{
    width:120vw !important;
} */

body {
  overflow-x: hidden;
} 

.container {
  width: 800px;
  height: 100%;
  max-width: 70vw;
  margin: auto;
  padding-top: 10px;
  text-align: center;
}


.divandsearch {
  background-color: white;
  width: 80vw;
  margin-left: 10px !important;
  padding: 10px;
}

.listProduct .product-details img {
  width: 80%;
}

.listProduct .product-details {
  width: 80%;
  height: 80%;
  margin-left: 35px;
  margin-top: 100px;
} 

 .listProduct {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;


}

.listProduct .product-details:hover {
  transform: scale(1);
  transition: all 0.6s;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);


}

.hover-icon {
  transform: scale(0);
}

.listProduct .product-details .hover-icon {
  transform: scale(0);
  transition: transform 0.3s ease;
  margin-left: 22vw;
  margin-top: 10px;
  background-color: white;
  box-shadow: 0 0 10px rgba(113, 112, 112, 0.5);
  width: 30px;
  border-radius: 50%;
  cursor: pointer;
}

.listProduct .product-details:hover .hover-icon {
  transform: scale(1);
  transition: transform 0.3s ease;
}

.divbutton {
  margin-top: -80px !important;
}


.listProduct .product-details h2 {
  font-size: large;
  text-decoration: none;
  color: #Bc9127;
}

.listProduct .product-details p {
  color: #6c6c6c;
  font-size: small;
}


.listProduct .product-details .price {
  color: #6c6c6c;
  font-size: small;
}

.sidenav {
  background-color: white;
}

.btnopen {
  background-color: #efc040;
  margin-top: 20px;
  padding: 5px 10px;
  margin-left: -80%;
  border: none;
  color: black;
}

.btnopen:hover {
  color: white;
}

.searchbutton {
  margin-top: 2vw;
  margin-left: 55vw;
}

.searchbutton input {
  padding: 10px 10px;
  border: 1px solid #b29e68;
  border-radius: 5px;
}

.searchbutton input[type=button] {
  margin-left: -10px;
  padding: 10px 20px;
  background-color: #efc040;
  border-radius: 5px;


}


.offcanvas-body h3 {
  color: gray;
  margin-left: -100px;
  font-size: 25px;
  font-family: 'Poppins', sans-serif;
}

.offcanvas-body p {

  margin-top: 20px;
  cursor: pointer;
}

.offcanvas-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.offcanvas-body p:hover {
  color: #efc040;
}
nav img{
  width: 35%;
}
nav {
  background-color: white;
  /* width: 1300vw !important; */
}



 #FooterTop {
  margin-top: 50px;
   width: 101%; 
  color: white;
  padding: 50px;
  background-color: rgb(21, 21, 21);
}

#FooterBottom { 
   width: 100.8%; 
  font-size: 16px;
  font-weight: 450;
  color: white;
  padding: 50px;
  background-color: rgb(21, 21, 21);
}

#FooterTop a {
  color: white;
  text-decoration: none;
}

#FooterTop .Socials i {
  color: white;
  border: 0;
  border-radius: 0;
  font-size: 20px;
  text-align: center;
  justify-content: center;
  background-color: rgb(43, 43, 43);
}  */

#First {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 290px) and (max-width: 576px) {

  /* nav {
    width: 100;
  } */
  body {
    overflow-x: hidden;
  }
 /* #cartsss{
  overflow: hidden;
 } */
  
  .carousel-inner{

    width: 85vw;
  }

  .navbar-brand {
    margin-left: -50px;
  }
  .btnopen {
    background-color: #efc040;
    margin-top: 20px;
    padding: 5px 10px;
    margin-left: -50% !important;
    border: none;
    color: black;
  }
  
  .btnopen:hover {
    color: white;
  }

  /* .offcanvas-end {
    /* right: auto !important; */
    /* width: 300px !important;
  }  */

  .offcanvas-body {
    width: 260px !important;
  }

  .listProduct .product-details {
    width: 80%;
    height: 80%;

  }

  .listProduct .product-details .hover-icon {
    transform: scale(0);
    transition: transform 0.3s ease;
    margin-left: 21vw !important;
    margin-top: 0px !important;
    background-color: white;
    box-shadow: 0 0 10px rgba(113, 112, 112, 0.5);
    width: 30px;
    border-radius: 50%;
    cursor: pointer;
  }

  .listProduct {
    width: 100vw;
    /* height: 100% !important;  */
    margin-left: -70px !important;
    grid-template-columns: repeat(2, 1fr);
  }

  .listProduct .product-details {
    width: 30vw !important;

    padding: 10px 10px !important;
  }

  .listProduct .product-details:hover {
    transform: scale(1);
    transition: all 0.6s;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);


  }



  .container {
    width: 850px !important;
    max-width: 85vw;
    margin: auto;
    padding-top: 10px;
    text-align: center;
    margin-left: 28px !important;
  }

  .sidenav .offcanvas-body h3 {
    margin-left: 1px;
  }

  .divandsearch {
    background-color: white;
    width: 170vw;
    margin-left: -400px !important;
    padding: 10px;
  }


  .divbutton {
    margin-top: 10px !important;
    margin-left: 70vw;
  }

  .searchbutton {
    margin-top: 2vw;
    margin-left:70vw;
    width: 75vw;
  }

  .searchbutton input {
    width: 45vw !important;
    padding: 5px 1px;
    border: 1px solid #b29e68;
    border-radius: 5px;
  }

  .searchbutton input[type=button] {
    margin-left: -10px;
    padding: 5px 1px;
    width: 30vw !important;
    /* padding: 10px 10px; */
    background-color: #efc040;
    border-radius: 5px;
  }


  .listProduct .product-details {
    width: 80%;
    height: 70%;

  }


  .offcanvas-start {
    width: 50% !important;
  }

  .hover-icon {
    margin-left: 80px !important;
  }


}



@media screen and (min-width: 577px) and (max-width: 1200px) {
  .listProduct {
    grid-template-columns: repeat(3, 1fr);
  }


  

  /* .listProduct .product-details {
    width: calc(75% - 30px);
    padding: 20px 20px;
  } */
  /* .listCard p{
    margin-top: 150px !important;
    position: absolute;
  } 
   .listCard .remove-button {
    margin-left: 280px;
    position: absolute;
    background-color: white;
    color: #efc040;
    font-size: 25px;
    margin-top: -65p
    border: none;
  }*/
 
 .listProduct{
    width: 115%;
    margin-left: -25px !important;
  } 
  .listProduct .product-details {
    width: 80%;
    height: 75%;
    margin-left: 1px;

  } 

  

  .searchbutton {
    margin-top: 2vw;
    margin-left: 2vw !important;
    width: 65vw;
  }

  .searchbutton input {
    width: 40vw !important;
    padding: 5px 1px;
    border: 1px solid #b29e68;
    border-radius: 5px;
  }

  .searchbutton input[type=button] {
    margin-left: -10px;
    padding: 5px 1px;
    width: 25vw !important;
    /* padding: 10px 10px; */
    background-color: #efc040;
    border-radius: 5px;
  }

  .divbutton {
    margin-top: 10px !important;
  }

   .divandsearch {
    background-color: white;
    width:115%;
    margin-left: -25px !important;
    padding: 10px;
  } 

.offcanvas-container{
  display: grid;
  grid-template-columns: repeat(2,1fr);
}
.offcanvas-body p:hover{
  color: #efc040;
 }


  .offcanvas-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .offcanvas-body p:hover {
    color: #efc040;
  }
}