* {
    margin: 0;
    padding: 0;
}

.body1 {
    background-color: rgba(245, 245, 245, 0.822);
}

nav img {
    margin-top: 1vw;
    margin-left: 15vw;
}



.container{
    width: 700px;
    height: 100%;
    max-width: 70vw;
    margin: auto;
    padding-top: 10px;
    text-align: center;
}

.listProduct .product-details img {
    width: 80%;
}
.listProduct .product-details{
    width: 80%;
    height: 90%;
    margin-left: 30px;
    margin-top: 30px;
}
.listProduct {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    height: 100%;
}
.listProduct .product-details:hover {
  transform: scale(1.1);
  margin-top: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
  width: 70%;
  height: 89%;
}
.listProduct .product-details .hover-icon{
  display: none;
}


 
.listProduct .product-details h2 {
    font-size: large;
    text-decoration: none;
    color:#Bc9127;
}
.listProduct .product-details p{
    color: #6c6c6c;
    font-size: small;
}


.listProduct .product-details .price{
    color: #6c6c6c;
    font-size: small;
}
/*tabalet*/
@media screen and (max-width: 992px) {
    .listProduct {
      grid-template-columns: repeat(3, 1fr);
      width: 90vw;
      margin: 0 -60px;
      gap: 3px;
    }
  
    .listProduct .product-details {
      width: calc(100% - 30px); 
      padding: 15px;
      box-sizing: border-box;
    }
    .listProduct .product-details  .hover-icon{
      margin-left: 0px;
      position: absolute;
    }
  }
  
  @media screen and (max-width: 768px) {
    .listProduct {
      grid-template-columns: repeat(2, 1fr);
      width: 90vw;
      margin: 0 0px; 
      gap: 0px;
    }
  
    .listProduct .product-details {
      width: calc(100% - 10px); 
      padding: 5px;
    }
  
    .listProduct .product-details .hover-icon {
      margin-left: -200px; 
    }
  }
    

  
  
  
