* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

.body2 {
    background-color: rgba(245, 245, 245, 0.822);
}

nav {
    /* margin-top: -2px; */
    background-color: white;
    /* height: 3vw; */
}

nav img {
    /* margin-top: 1vw; */
    /* margin-left: 15vw; */
}



.related-products-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  background-color: white;
  width: 95vw;
  margin: 50px auto;
  margin-top: -50px; 
}
.mainrelatedproducts{
  background-color: white;
  margin-top: 0px;
  width: 95vw;
  margin: 50px auto;
  margin-top: -50px;
}
.header-container {
 
  padding: 20px; 
  margin-left: 5vw;
  margin-bottom: 5vw;
}
.related-product {
  position: relative;
}

.related-product .hover-icon {
  display: none;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(113, 112, 112, 0.5);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  text-align: center;
  line-height: 30px;
}

.related-product:hover .hover-icon {
  display: block;
}



.related-product {
  width: 50%;
  text-align: center;
  border-radius: 8px;
  overflow: hidden;
  margin-left: 5vw;
}
.related-product:hover {
  transform: scale(1);
  transition: all 0.6s;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
  
  } 

.related-product img {
  width: 100%;
  height: auto;

}

.related-product a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #333;
}

.related-product h2 {
  font-size: 16px;
  margin: 5px 0;
}

.related-product p {
  font-size: 14px;
  margin: 5px 0;
}

.related-product p.price {
  font-weight: bold;

}
.product-detail-container {
    width: 95vw;
    margin: 50px auto; 
    padding: 10px;
    background-color: white;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.product-detail-container .product-info {
    width: 100%; 
    margin-top: 50px;
    text-align: left;
}

.product-detail-container .product-info p {
    margin-top: 50px;
    line-height: 1.8;
    font-size: 1.2vw;
    color: gray;
}

.product-detail-container .product-info h1 {
    font-size: 2.5vw;
    margin-top: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.product-image img {
    width: 100%;
    transition: transform 0.6s; 
}

.product-image:hover img {
    transform: scale(1.1);
}

.addtocart1 {
     margin-left: 8vw !important;
    padding: 8px 10px;
    font-size: 1.2vw;
    cursor: pointer;
    background: #eab839;
    color: black;
    border: none;
    border-radius: 5px; 
    margin-top: -2.3vw;  
    position: absolute;
}

.addtocart1:hover {
  color: white;
} 
.main-wrapper{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.wrapper{
   margin-top: 35px;
}
.wrapper{
   margin-left: 2vw;
   
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 12px;
}
.wrapper span{
    margin-top: 12px;
    width: 100%;
    text-align: center;
   color: gray;
   border: 1px solid gray;
   padding: 10px 10px;
   margin-left: -5px;
   cursor: pointer;
}
.wrapper .num{
    pointer-events: none;
}
.wrapper .plus:hover{
 background-color: #bc9127;
 color: white;
}
.wrapper .minus:hover{
    background-color: #bc9127;
    color: white;
}
.card{
    position: relative;
    margin-top: 50px;
   
    flex-direction: column;
    width: 100%;
    border: none !important;
  }
 
  
  
  
  .card .subtotal,
  .card .total {
    border: none;
    color: black;
    margin-top: 140%;
    position: absolute;
    margin-left: 30px;
  
  }
  body{
    overflow-x: hidden;
  }


  .card .total {
    margin-left: 300px;
  }
  .card .checkbtn{
    margin-top: 34%;
    background-color: #efc040;
    border: none;
    width: 24%;
    margin-left:-10px !important ;
    padding: 10px 10px;
    position: fixed;
  }
  .card .checkbtn a{
    color: black;
    text-decoration: none;
  }
  .card .checkbtn a:hover{
    color: white;
  }
  
  .btn-close{
    margin-left: 30px !important;
  }
  
  .listCard{
    list-style-type: none; 
    border: 1px solid #ccc;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    display: block;
    border: none !important;
  }
  .listCard .minus{
    margin-left: 20px;
  }
   .listCard img {
    width: 60px;
    height: 60px;
   margin-left: 2px;
   margin-top: 0px;
   position: absolute;
   margin-bottom: 15px;
  }
  
  .listCard p, .listCard h2 {
    margin: 0;
  }
  
  
  
  .listCard h2 {
    color: #333;
    font-size: 12px;
    margin-left: 100px;
   
  
  }
  
  .listCard p{
    font-style: italic;
    margin-left: 310px;
    margin-top: -40px;
    position: absolute;
    margin-bottom: 10px;
  }
  
  .listCard .remove-button{
    margin-left: 310px !important;
    position: absolute;
    background-color: transparent;
    color: #efc040;
    font-size: 25px;
    margin-top: -80px;
    border: none;
    
  }
  .listCard  .minus{
   margin-top: 50px;
   border-radius: 1px;
   text-align: center;
   color: gray;
   border: 1px solid gray;
   padding: 10px 10px;
   margin-left: 4px;
   cursor: pointer;
   background-color: white;
  }
  .listCard  .minus:hover{
    background-color: #efc040;
  }
  .listCard  .plus:hover{
    background-color: #efc040;
  }
  .listCard .num{
    margin-top: 50px;
   border-radius: 1px;
   text-align: center;
   color: gray;
   border: 1px solid gray;
   padding: 10px 10px;
   margin-left: -4px;
  
   cursor: pointer;
   background-color: white;
  }
  .listCard .plusevent{
    margin-left: 100px;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  
   .listCard .plus{
    margin-top: 50px;
    border-radius: 1px;
    text-align: center;
    color: gray;
    border: 1px solid gray;
    padding: 10px 10px;
    margin-left: -5px;
    cursor: pointer;
    background-color: white
  } 
  #cartsss .cardquantity {
    background-color: #efc040;
    color: white;
    padding: 0px 5px;
    border-radius: 30%;
    position: absolute;
    font-size: 12px;
    transform: translateY(-35%);
  }


#FooterTop {
    margin-top: 50px;
    /* width: 100.8%; */
    color: white;
    padding: 50px;
    background-color: rgb(21, 21, 21);
    }
    #FooterBottom {
    /* width: 100.8%; */
    font-size:16px;
    font-weight: 450;
    color: white;
    padding: 50px;
    background-color: rgb(21, 21, 21);
    }
    
    #FooterTop a {
    color: white;
    text-decoration: none;
    }
    
    #FooterTop .Socials i {
    color: white;
    border: 0;
    border-radius: 0;
    font-size:20px;
    text-align: center;
    justify-content: center;
    background-color: rgb(43, 43, 43);
    }
    #First{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    }

@media screen and (min-width: 290px)  and (max-width: 576px){
    .navbar-brand{
        position: relative;
        margin-left: -10vw !important;
        margin-top: 0px !important;
    }
    
   
    body{
      overflow-x: hidden;
    }
    
    .product-detail-container {
        height: 260vw;
        width: 100vw;
        /* width: 100%; */
        margin: 50px auto; 
        padding: 10px;
        background-color: white;
        text-align: center;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .addtocart1{
        margin-left: 100px !important;
        padding: 8px 8px;
        font-size: 20px;
        margin-top: -35px;
    }
    .product-detail-container .product-info p {
        margin-top: 10px;
        line-height: 1.8;
        font-size: 5vw;
        color: gray;
    }
    
    .product-detail-container .product-info h1 {
        font-size: 2.5vw;
        margin-top: 10px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    .offcanvas-end {
      /* right: auto !important; */
      width: 300px !important;
    }
  
    .offcanvas-body {
      width: 260px !important;
    }
    
  .listCard img {
    width: 60px;
    height: 60px;
    margin-left: -25px;
    margin-top: 0px;
    position: absolute;
    margin-bottom: 15px;
  }

  .listCard p,
  .listCard h2 {
    margin-left: 40px;
  }

  .listCard p {
    font-style: italic;
    margin-left: 180px;
    margin-top: -30px;
    position: absolute;
    margin-bottom: 10px;
  }

  .listCard .remove-button {
    margin-left: 190px !important;
    position: absolute;
    background-color: white;
    color: #efc040;
    font-size: 25px;
    margin-top: -65px;
    border: none;

  }

  .listCard .plusevent {
    margin-left: 40px;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .card .subtotal,
  .card .total {
    border: none;
    color: black;
    margin-top: 165%;
    position: absolute;
    margin-left: 30px;
   

  }

  .card .subtotal {
    margin-left: 0px;
  }

  .card .total {
    margin-left: 200px;
  }
  .card .checkbtn {
    margin-top: 80%;
    background-color: #efc040;
    border: none;
    width: 50%;
    margin-left: 1px;
    padding: 10px 10px;
    position: fixed;
  }
  .related-products-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    background-color: white;
    width: 95vw;
    margin: 50px auto;
    margin-top: -50px; 
  }
  .related-product {
    position: relative;
    margin-left: 100px !important;
    margin-top: 10px;
  }
}
@media screen and (min-width: 577px) and (max-width: 1200px) {
    /* nav img{
        margin-top: 15px !important;
    }
    .navbar-expand-md .navbar-collapse{
        display: flex !important;
        margin-left: -500px;
        margin-top: 5px;
    }  */
    body{
      overflow-x: hidden;
    }
    .product-detail-container {
        /* height: 260vw; */
        width: 100vw;
        /* width: 100%; */
        margin: 50px auto; 
        padding: 10px;
        background-color: white;
        text-align: center;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    
    .addtocart1{
        margin-left: 110px !important;
        padding: 8px 8px;
        font-size: 20px;
        margin-top: -35px;
    }
    /* .product-detail-container .product-info p {
        margin-top: 10px;
        line-height: 1.8;
        font-size: 5vw;
        color: gray;
    } */
    
    .product-detail-container .product-info h1 {
        font-size: 2.5vw;
        margin-top: 10px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    
  .listCard p {
    font-style: italic;
    margin-left: 270px;
    margin-top: -30px;
    position: absolute;
    margin-bottom: 10px;
  } .listCard .remove-button {
    margin-left: 280px;
    position: absolute;
    background-color: white;
    color: #efc040;
    font-size: 25px;
    margin-top: -65px;
    border: none;

  }
  .card .subtotal,
  .card .total {
    border: none;
    color: black;
    margin-top: 100%;
    position: absolute;
  
    

  }

  .card .subtotal {
    margin-left: 0px;
    
  }

  .card .total {
    margin-left: 200px;
  }
  .card .checkbtn {
    margin-top: 45%;
    background-color: #efc040;
    border: none;
    width: 35%;
    margin-left: 1px;
    padding: 10px 10px;
    position: fixed;
  }


}

