input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

body {
    overflow-x: hidden;
    background-color: #edb832a7;

    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

.register-container {
    border: 3px solid darkgoldenrod;
    box-shadow: -5px 5px 20px rgb(153, 107, 0);
    background-color: white;
    margin: 4% auto;
    border-radius: 10px;
    justify-content: center;
    text-align: center;
}

.register-container h2 {
    color: black;
    margin: 15px;
}

input[type=text],
input[type=email],
input[type=password],
input[type=number] {
    background-color: #edb83284;
}

.input-group i {
    display: flex;
    justify-content: center;
    height: 58px;
    background-color: transparent;
    border: 0;
}

.eye {
    height: 80%;
    box-shadow: -3px 0 5px gray;
    border-left: 1px solid;
}

.input-group {
    color: white;
    background-color: #edb832e7;
    border: 2px solid gray;
    border-radius: 5px;
    margin: 2px;
    margin: 10px 0;
}

.input-group input {
    width: 103%;
    height: 30px;
}

.register-container button {
    margin: 10px auto;
    font-size: large;
    font-weight: 500;
    border: white;
    background-color: #edb832e7;
    color: rgb(255, 255, 255);
}

.register-container button:hover {
    background-color: white;
    color: #edb832e7;
    border: 2px solid #edb832e7;
}

.register-container a {
    color: rgba(205, 24, 117, 0.774);
}

.register-container a:hover {
    color: green;
}

.register-container a {
    padding-bottom: 30px;
}

form a {
    font-weight: bold;
    color: highlight;
}

.navbar {
    background-color: white;
}

.navbar img {
    width: 40%;
}